{% extends 'account/base.html' %}
{% block head_title %}Photo | {{photo.id}}{% endblock%}

{% block content %}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">                
                <div>
                    <img style="max-width: 80%; max-height:80%;"
                         src="{{ photo.image.url }}">
                    <p style="max-width: 80%" class="mt-2">{{ photo.description }}</p>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
